<form action="/payment/results" method="get">
  <div>
    <label for="apr_input">APR</label>
    <input id="apr_input" type="text" name="user_apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="years">Number of years</label>
    <input id="years" type="text" name="user_years" placeholder="How many years to repay?">
  </div>

  <div>
    <label for="principal">Principal</label>
    <input id="principal" type="text" name="user_pv" placeholder="Principal loan amount">
  </div>

  <div>
    <button>Calculate monthly Payment</button>
  </div>
</form>
